---
name: Request for Verification
about: Request to add a repository to the verified list.
title: "VERIFY: user/repo"
labels: verification
assignees: ''

---

**Reason for Verification:**

(Provide a brief justification for why this repository should be trusted)
