name: TOML Lint

on:
  push:
    paths:
      - "**.toml"

  pull_request:
    paths:
      - "**.toml"

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2

      - name: Check TOML files
        run: bunx @taplo/cli check
